<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- jQuery and JS bundle w/ Popper.js -  Interactivity-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>
</head>
<body>

<div class="navbar fixed-top" style="background: #5C6BC0; color: white;padding: 1%;" id="header">
     <div  class="col-md-10">
              <a href="/Main" class="text-white" style="text-decoration:none;">
             <b style="font-size:30px;">SOS MAMAS </b>
         </a>

         <i>Remote Monitoring for Mothers</i>
     </div>

      <div class="col-md-2" style="color: white; white;padding: 1%;">
          <a href="/logout" style="color: white;">Logout <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
      </div>
</div>
<br><br><br>
 <div class="sidenav text-center">
     <br><br><br>
        <img src="../static/profile.webp" alt="" class="img-fluid">
        <h6 class="text-white">Dr Yvonne Bett</h6>
        <p class="text-white">Consultant Gynacologist</p>
      <h6><a href="/change" class="btn btn-primary" style="font-size: 12px;color: white;">Change Details</a></h6>
     <h6><a href="/view_profile" class="btn btn-primary" style="font-size: 12px;color: white;">Profile</a></h6>
 </div>


<div class="main">
    <br>
    <div class="text-right" style="margin-right:2%;">
        <a href="/Main" class="btn btn-primary">Main Page</a>
        <a href="/patients" class="btn btn-primary">Patient List</a>
         <a href="/general_stats" class="btn btn-primary">Statistics</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add Patient
</button>
    </div>
    <h3>Expectant Patient List</h3>
    <br>
    <div class="row">
         <div class="col-md-3">
             {{msg}} <br>
             <form action="/patients" method="post">
                <input type="text" name="phone" placeholder="Search Phone Number" class="form-control"> <br>
                <input type="submit" class="btn btn-primary">
             </form>

         </div>
    </div>

    <br>
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
           <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <section class="container">
       <table class="table table-striped">
           <tr>
                <td>Edit</td>
                <th>Patient ID</th>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th colspan="3" class="text-center">Actions</th>
           </tr>
        {% for row in rows %}
           <tr>
               <td><a href="/retrieve_patient_to_update/{{row[0]}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td>{{row[0]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
               <td>{{row[5]}}</td>

              <td><a href="/test/{{row[0]}}" class="btn btn-primary">Test</a></td>
              <td><a href="/records/{{row[0]}}" class="btn btn-primary">Records</a></td>

           </tr>
        {% endfor %}
       </table>
    <br><br>
    <hr>
    </section>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary">Add Patient</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="border-radius:10px; background:#E0E0E0; padding:2%;" >
          <form action="/add" method="post"
                class="form-inline">
              <div class="row">
                  <div class="col-md-12">
                      <input type="text" name="fname" placeholder="First Name" required class="form-control">
                      <input type="text" name="lname" placeholder="Last Name" required class="form-control"><br><br>
                      <input type="text" name="email" placeholder="Email" required class="form-control">
                      <input type="text" name="phone" placeholder="Phone" required class="form-control"> <br><br>
                      <input type="text" name="id_number" placeholder="ID Number" required class="form-control">
                      <input type="text" name="residence" placeholder="Residence" required class="form-control"><br><br>
              </div>
              </div>

               <div class="row">
                  <div class="col-md-12">
                      <b>Enter Date of Birth</b>
                      <input type="date" name="dob" placeholder="Next Of Kin Name" required class="form-control" max="2010-12-30">
                       <br><br>
              </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <input type="text" name="next_of_kin_name" placeholder="Next Of Kin Name" required class="form-control">
                      <input type="text" name="next_of_kin_phone" placeholder="Next Of Kin Phone" required class="form-control"><br><br>
              </div>
              </div>


            <div class="row">
                  <div class="col-md-12">
                      <input type="submit" value="Add Patient" class="btn btn-primary form-control">
                  </div>
            </div>
          </form> 
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




</body>
</html>